.header {
  background-image: url("https://i.imgur.com/SHNDoE3.jpg");
  height: 150px;
  background-repeat: no-repeat;
  padding: 50px;
  text-align: center;
  color: white;
  font-size: 30px;
  font-family:sans-serif;
  background-position: center;
  border-radius: 25px 25px 0px 0px;
}



body{
  width:100%;
  max-width: 1000px;
  border-radius: 25px;
  background: url(https://i.stack.imgur.com/1voHP.png);
  margin: 0 auto;
  background-color: grey;
  border: lightblue solid 2px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


nav li {
    float: left;

}

nav li a {

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav a:hover {
    background-color: #111;
}

nav .active {
    background-color: #4CAF50;
}

td {
    font-size: 15px;
    font-family: monospace;
    /* border: 1px solid #dddddd; */
    text-align: justify;
    padding: 8px;

}

table img {
    opacity: 0.3;
    display: inline-block;
    margin: 15px;
}


.footer {
    left: 10;
    bottom: 10;
    width: 100%;
    border: 2px black;
    color: black;
    text-align: center;
}
